<script id="TodoMainView" type="text/html">
<div class="TodoMainView">
	<section class="todos-card">		
		<header>
			<input class="search-todo">
		</header>
		<section class="todos-table">
			<div class="ui-table">
				<div class="ui-thead">
					<div>Name</div>
					<div>Info</div>
				</div>
				<div class="ui-tbody">
					<div class="ui-tr">
						<div>Name</div>
						<div>Info</div>
					</div>
				</div>
			</div>		
		</section>
		<footer>
			<input class="new-todo">
		</footer>
	</section>
</div>
</script>