<script id="TodoMainView" type="text/html">
<div class="TodoMainView">
	<section class="todos-card">
		<section class="todos-table">
			<div class="ui-table">
				<div class="ui-thead">
					<div class="check-td"></div>
					<div>Name</div>
					<div>Description</div>
					<div></div>
				</div>
				<div class="ui-tbody items">
				</div>
			</div>		
		</section>
		<footer>
			<input class="new-todo" />
		</footer>
	</section>
</div>
</script>

<script id="TodoMainView-todo-items" type="text/html">
{{#each items}}
<div class="ui-tr todo-item {{echo done 'todo-done'}}" data-entity="Todo" data-entity-id="{{id}}">
	<div class="check-td ctrl-check"></div>
	<label class="dx dx-subject" data-key="subject">{{subject}}</label>
	<label class="dx dx-description" data-key="description">{{description}}</label>
	<div><div class="btn btn-delete">Delete</div></div>
</div>
{{/each}}
</script>

<script id="TodoMainView-input-edit" type="text/html">
<input type="text" name="newValue" class="dx editing" value="{{value}}" data-key="{{key}}">
</script>