
.ui-progress-bar{
	min-width: 120px;
	height: 8px;
	border-radius: 4px;
	background-color: #BDBDBD;
	border: #9E9E9E 1px solid;
	margin: 0 8px;
	position: relative;
	.ui-progress-item{
		position: absolute;
		margin-top: -6px;
		margin-left: -8px;
		width: 16px;
		height: 16px;
		border-radius: 16px;
		left: 0;
		top:0;
		background: white;
		border: #FAFAFA 1px solid;
		box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, .2), 0px 2px 2px 1px rgba(0, 0, 0, .14);
	}
}